<div >
<div class="head">
    <img src="../static/favorite.svg" width="250px" height ="250px"/>
</div>


<form ng-submit="submit()" ng-controller="NotifyCtrl">
    <div class="form-group">
        <label for="inputName">Your name</label>
        <input type="text" class="form-control" id="inputName" ng-model="name" placeholder="John Doe">
    </div>
    <div class="form-group">
        <label for="senderEmail">Your Email address</label>
        <input type="email" class="form-control" id="senderEmail" ng-model="sEmail" placeholder="johndoe@jetblue.com">
    </div>
    <div class="form-group">
        <label for="receiverEmail">His/Her Email address</label>
        <input type="email" class="form-control" id="receiverEmail" ng-model="rEmail" placeholder="janedoe@jetblue.com">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>